@use "../../functions.scss" as fn;
.main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    .container {
        @extend .containerAll;
        .subContainer {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-items: center;
            justify-content: center;
            row-gap: 30px;
            column-gap: 30px;
        }
        
    }
}
