@use "../../functions.scss" as fn;

.card{
    display: flex;
    width: 100%;
    height: fn.calcRem(350px);
    max-width: 900px;
    max-height: 900px;
    border-radius: 10px;
    background-color: #3a3b3a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    .content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: relative;
        gap: fn.calcRem(30px);
        width: 100%;
        height: 100%;
        overflow: auto;
        .buttonsContainer{
            display: flex;
            justify-content: space-between;
        }
        .buttonCancel{
            border: none;
            background-color: transparent;
            width: fn.calcRem(32px);
            height: fn.calcRem(32px);
            transition-duration: 0.5s;
            color: rgb(212, 212, 212);
        }
        .buttonCancel:hover{
            transition-duration: 0.5s;
            cursor: pointer;
            fill:rgb(146, 28, 28)
        }
        .rating {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fn.calcRem(570px);
            row-gap: fn.calcRem(80px);
            .discount{
                display: flex;
                font-size: fn.calcRem(24px);
                gap: fn.calcRem(10px);
            }
            .text{
                display: flex;
                font-size: fn.calcRem(24px);
            }
            .title {
                display: flex;
                flex-direction: column;
                row-gap: fn.calcRem(20px);
                text-wrap: wrap;
                text-align: left;
                font-size: fn.calcRem(22px);
            }
            .countContainer{
                display: flex;
                align-items: center;
                gap: fn.calcRem(10px);
                width: fn.calcRem(150px);
                height: fn.calcRem(37px);
                p {
                    display: flex;
                    justify-content: center;
                    width: 40px;
                    font-size: fn.calcRem(24px);
                }
            }
        }
        .bought{
            font-size: 20px;
            display: flex;
            flex-direction: column;
            .img {
                position: relative;
                width: fn.calcRem(200px);
                height: fn.calcRem(200px);
                max-width: 200px;
                max-height: 200px;
            }
        }
        .button {
            border: 1px solid orange;
            background-color: transparent;
            height: fn.calcRem(37px);
            border-radius: 10px;
            padding: 10px;
            color: orange;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.5s;
            cursor: pointer;
          }
        .button:hover {
              background-color: orange;
              color: white;
        }
        .inactive:disabled{
            border: 1px solid gray;
            background-color: transparent;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 100%;
            color: gray;
            transition-duration: 0.5s;
        }
    }
}