@use "../../functions.scss" as fn;

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #282c34;
}
.container {
    @extend .containerAll;
    justify-content: space-between;
    margin: 20px;
    
    .logo {
        max-width: 100px;
        max-height: 100px;
        text-decoration: none;
        color: wheat;
    }
}

.menu{
    display: flex;
    align-items: center;
    gap: fn.calcRem(20px);
    .img {
        max-width: 32px;
        max-height: 32px;
        position: relative;
        transition: all 0.5s ease-in-out;
        .counter {
            color: white;
            position: absolute;
            width: fn.calcRem(16px);
            height: fn.calcRem(16px);
            background-color: #d57d0b;
            border-radius: 50%;
            top: 0;
            right: 0;
            font-size: 10px;
        }
        .icon {
            position: relative;
            transition-duration: 0.5s;
        }
        .icon:hover {
          fill: #fff;
          transition-duration: 0.5s;
        }
    }
}
