@use "../../functions.scss" as fn;

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    height: 100px;
}
.container {
    @extend .containerAll;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    gap: fn.calcRem(20px);
    
    .img {
        max-width: 32px;
        max-height: 32px;
        position: relative;
        .counter {
            position: absolute;
            width: fn.calcRem(16px);
            height: fn.calcRem(16px);
            background-color: #d57d0b;
            border-radius: 50%;
            top: 0;
            right: 0;
            font-size: 10px;
        }
    }
}
